:css
  :root { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
  }
.antialiased.bg-black.h-screen.w-screen.min-h-screen.text-slate-300.relative.py-20
  .grid.grid-cols-12.mx-auto.gap-2.sm:gap-4.md:gap-6.lg:gap-10.xl:gap-14.max-w-7xl.my-10.px-2
    = render 'navbar'
    = render 'dashboard_content'
